[submodule "app/external/DataBase"]
	path = app/external/DataBase
	url = git@github.com:RomanHorshkov/DataBase.git
[submodule "app/external/SPSCring"]
	path = app/external/SPSCring
	url = git@github.com:RomanHorshkov/SPSCring.git
[submodule "HSFrontEnd"]
	path = HSFrontEnd
	url = git@github.com:RomanHorshkov/HSFrontEnd.git
[submodule "app/external/EMlog"]
	path = app/external/EMlog
	url = git@github.com:RomanHorshkov/EMlog.git
