#Ignore gitignore file
.gitignore
# Ignore clang-format file
.clang-format
/docs
#ignore vs code files
.vscode/
# Ignore for now utilities directory
#/utils
#Ignore build files
build/
# Ignore log files
server.log
# Ignore whole private directory
/var/lib/
# Ignore compile commands
compile_commands.json
#Ignore icon file
var/www/favicon.ico
#Ignore frontend files
frontend/dist
frontend/node_modules


var/www/map.json

# # Ignore all yaml files in config directory
# /config/*.yaml
# # Except config.example.yaml
# !/config/config.example.yaml
# # Ignore environment variable file
# .env
cmake-build/
cmake-out/
db/
Personal/
